body {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    margin: 0;
    background-color: #eef2f3;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    padding: 40px 0;
    background-color: #2a9d8f;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

nav {
    background-color: #264653;
    min-height: 60px;
}

nav ul li {
    float: left;
    width: 130px;
}

nav ul li a {
    display: block;
    color: #e9c46a;
    line-height: 3.8em;
    font-weight: bold;
    text-align: center;
}

nav ul li a:hover {
    background-color: #e9c46a;
    color: #264653;
}

p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #333333;
    padding: 0 25px;
}

footer {
    background-color: #1d3557;
    color: #ffffff;
    padding: 15px 0;
    margin-top: 25px;
    text-align: center;
    clear: both;
}

/* Галерея спосіб 1 */
.img-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.img-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img-container ul li {
    display: inline-block;
    width: 32%;
    padding: 10px;
}

.img-container img {
    width: 80%;
    display: inline-block;
    transition: 0.25s;
}

/* Галерея спосіб 2  */
.inline-img {
    text-align: center;
    margin-top: 20px;
}

.inline-img img {
    width: 250px;
    display: inline-block;
    border-radius: 15px;
    margin: 10px;
    transform: scale(0.95);
    transition: .35s;
    max-width: 35%;
}

.inline-img img:hover {
    transform: scale(1);
}

.video-box{
    text-align:center;
    margin-top:20px;
}

.video-box video{
    width:300px;
    margin:10px;
}

/*Пытаюсь исправить фотки на всю стр в About*/

.left {
  width: 200px;  
  float:left;
  margin:10px;  
}

.right {
  width: 200px; 
  float:right;
  margin:10px;  
}